{% extends 'computation/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Full Time Equivalent History</h4>
        </div>
    </div>
</div>
<div id="DivtoPrint" class="row" >
    <div class="col-md-12">
        <div class="card" >
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 m-b-20">
                        <img src="{% static 'images/techu_logo.png' %}" class="inv-logo" style="margin-top: 20px;margin-left: 20px;" alt="logo" width=50%>
                    </div>
                    <div class="col-sm-6 m-b-20">
                        <div class="">
                            <h4 class="text-uppercase"><b> First Technical University</b></h4>
                            <ul class="list-unstyled">
                                <li>KM 15, Ibadan-Lagos Expressway, Ibadan, Nigeria</li>
                                
                            </ul>
                            <h5 class="text-uppercase">Full Time Equivalent</h5>
                        </div>
                    </div>
                </div>
                
                <hr>
                <div class="row">
                    <div class="col-sm-6 col-lg-6 m-b-20">
                        
                        <ul class="list-unstyled ">
                        
                            <li><b>Programme:</b> {{prog}} </li>                                             
                            <li><b>Department:</b> {{dept}}</li>
                            <li><b>Faculty:</b> {{faculty}}</li>
                        </ul>
                                
                    </div>
                   
                    <div class="col-sm-6 col-lg-6 m-b-20">
                    <ul class="list-unstyled ">
                            <li>
                            <li><b>Level:</b> {{level}}00</li>
                            <li><b>Session:</b> {{session}}</li>
                            
                        </ul>
                                
                    </div>
                    
                </div>
                <table class="table center">
                    <tr>
                        <th>course code</th>
                        <th>Credit Units</th>
                        <th>NO. of Students</th>
                        <th>products</th>
                        
                    </tr>
                    {% for item in courseData %}
                    
                        <tr>
                            <td>{{item.course_code}}</td>
                            <td>{{item.course_unit}}</td>
                            <td>{{item.NoOfStud}}</td>
                            <td>{{item.product}}</td>
                            
                        </tr>
                    {% endfor%}
                        <tr>
                            <td>TOTAL</td>
                            <td></td>
                            <td></td>
                            <td>{{courseStudProduct}}</td>
                        </tr>
                
                    
                </table>
                <br><br>
                <table class="table center">
                    <tr>
                        <th>No. of units Registered (x)</th>
                        <th>No. of students (f)</th>
                        <th>products (fx)</th>
                        
                    </tr>
                    {% for item in creditData %}
                    
                        <tr>
                            <td>{{item.NoofUnits}}</td>
                            <td>{{item.NoofStud}}</td>
                            <td>{{item.product}}</td>
                            
                        </tr>
                    {% endfor%}
                    <tr>
                        <td>TOTAL</td>
                        <td>{{totalNoStud}}</td>
                        <td>{{totalProduct}}</td>
                        
                    </tr>
                
                    
                </table>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4"><h2><b>FTE:</b> {{fte|floatformat:2}}</h2></div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<form>
   
    <input type='button' id='btn' value='Print' onclick='printtag("DivtoPrint");' >
    </form>

    <script>
       
       function printtag(tagid) {
            var hashid = "#"+ tagid;
            var tagname =  $(hashid).prop("tagName").toLowerCase() ;
            var attributes = ""; 
            var attrs = document.getElementById(tagid).attributes;
              $.each(attrs,function(i,elem){
                attributes +=  " "+  elem.name+" ='"+elem.value+"' " ;
              })
            var divToPrint= $(hashid).html() ;
            var head = "<html><head>"+ $("head").html() + "</head>" ;
            var allcontent = head + "<body  onload='window.print()' >"+ "<" + tagname + attributes + ">" +  divToPrint + "</" + tagname + ">" +  "</body></html>"  ;
            var newWin=window.open('','Print-Window');
            newWin.document.open();
            newWin.document.write(allcontent);
            newWin.document.close();
           // setTimeout(function(){newWin.close();},10);
        }
    </script>
{% endblock %}