
{% extends 'computation/main.html' %}
{% load static %}
{% block content %}


<link href="{% static 'css/c3.min.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{% static 'js/zingChart.min.js' %}"></script>
<style>
    .my-card{
        position:absolute;
        left:40%;
        top:-20px;
        border-radius:50%;
    }
    .col-md-3{
        margin-bottom: 30px
    }
</style>



<div class="container-fluid">
    

    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">{{request.user.staff.name}}</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
                <h4 class="page-title">Dashboard</h4>
            </div>
        </div>
    </div>

    
<div class="row w-100">
        <div class="col-md-3 col-sm-6 col-lg-3" >
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card" ><span class="fas fa-area-chart" aria-hidden="true"></span></div>
                <div class="text-info text-center mt-3"><h4>F.T.E</h4></div>
                <div class="text-info text-center mt-2"><h1>{{fteCount}}</h1></div>
            </div>
        </div>
        <br>
        <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="card border-success mx-sm-1 p-3">
                <div class="card border-success shadow text-success p-3 my-card"><span class="fas fa-eye" aria-hidden="true"></span></div>
                <div class="text-success text-center mt-3"><h4>Staffs</h4></div>
                <div class="text-success text-center mt-2"><h1>{{staffMembersCount}}</h1></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fab fa-accusoft" aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-3"><h4>Departments</h4></div>
                <div class="text-danger text-center mt-2"><h1>{{deptCount}}</h1></div>
            </div>
        </div>
    <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="card border-warning mx-sm-1 p-3">
                <div class="card border-warning shadow text-warning p-3 my-card" ><span class="fas fa-inbox" aria-hidden="true"></span></div>
                <div class="text-warning text-center mt-3"><h4>Programmes</h4></div>
                <div class="text-warning text-center mt-2"><h1>{{programmeCount}}</h1></div>
            </div>
        </div>
     </div>
<br>



    <div class="row"> 
        <div class="col">
            <div id="myChart"></div>
        </div>
                                                  
    </div>

<script>
var state={
    'dapartment':[],
    'fte':[],
}
    var dataurl = '/data/'
    $.ajax({
        method:'GET',
        url: dataurl,
        success: function(response){
            console.log(response)
            for (var i in response){
                var dept = Object.keys(response[i])[0]
                var fte = Object.values(response[i])[0]

                state.dapartment.push(dept)
                state.fte.push(fte)
            }
            console.log('STATE: ',state)
            buildChart()
        }
    })
function buildChart(){
    let myConfig ={
    "type":"bar",
    title: {
            text: 'FULL TIME EQUIVALENT TOTAL NUMBER PER DEPARTMENT',
            fontSize: 15,
        },
        legend: {
            draggable: true,
        },
    scaleX:{
        //Set scale label
        label: { text: 'Department' },
        // Convert text on scale indices
        labels:state.dapartment
    },
    scaleY: {

        // Scale label with unicode character
        label: { text: 'Number of Full Time Equivalent ' }
    },
    plot: {
        // Animation docs here:
        // https://www.zingchart.com/docs/tutorials/styling/animation#effect
        animation: {
            effect: 'ANIMATION_EXPAND_BOTTOM',
            method: 'ANIMATION_STRONG_EASE_OUT',
            sequence: 'ANIMATION_BY_NODE',
            speed: 275,
        }
    },
    series:[
        {
            values:state.fte,
            text: "Number of FTE"
        },
    ]
}

    // Render Method[3]
    zingchart.render({
    id: 'myChart',
    data: myConfig,
    });

}
    
    

    
</script>
<script>
   
      //generating chart 
    //   function c3Chart(){
    //     c3.generate({
    //         bindto: '#chart',
    //         data: {
    //             columns: [
                    
    //                 ['something',].join(state.data),
    //                 ['something2',].join(state.department),
                    
    //             ],
    //             type: 'bar',
    //             colors: {
    //                 something: '#6c757d',
    //                 something2: '#3cab94'
    //             }
    //         }
    //     });

    //   }
      

</script>



{% endblock %}