{% extends 'computation/main.html' %}
{% block content %}


    {% if staff %}
    <form action="" method="post">
        {% csrf_token %}
        <!-- Info Alert -->
    <div class="alert alert-info alert-dismissible fade show">
     Are you sure you want to Delete .<strong>{{staff}} ?</strong>
     <button type="button" class="close" data-dismiss="alert">&times;</button>
    <input class="btn btn-info " type="submit" value="Delete">

    <a class="btn btn-outline-danger " href="{% url 'staff' %}"> cancel</a>
    </div>
    </form>
     {% endif %}
    {% if dept %}
     <form action="" method="post">
        {% csrf_token %}
        <!-- Info Alert -->
    <div class="alert alert-info alert-dismissible fade show">
     Are you sure you want to Delete <strong>{{dept}} ?</strong>
     <button type="button" class="close" data-dismiss="alert">&times;</button>
    <input class="btn btn-info " type="submit" value="Delete">

    <a class="btn btn-outline-danger " href="{% url 'deptPage' %}"> cancel</a>
    </div>
    </form>
     {% endif %}

     {% if programme %}
     <form action="" method="post">
        {% csrf_token %}
        <!-- Info Alert -->
    <div class="alert alert-info alert-dismissible fade show">
     Are you sure you want to Delete <strong>{{programme}} ?</strong>
     <button type="button" class="close" data-dismiss="alert">&times;</button>
    <input class="btn btn-info " type="submit" value="Delete">

    <a class="btn btn-outline-danger " href="{% url 'programme' %}"> cancel</a>
    </div>
    </form>
     {% endif %}
     {% if faculty %}
     <form action="" method="post">
        {% csrf_token %}
        <!-- Info Alert -->
    <div class="alert alert-info alert-dismissible fade show">
     Are you sure you want to Delete <strong>{{faculty}} ?</strong>
     <button type="button" class="close" data-dismiss="alert">&times;</button>
    <input class="btn btn-info " type="submit" value="Delete">

    <a class="btn btn-outline-danger " href="{% url 'faculty' %}"> cancel</a>
    </div>
    </form>
     {% endif %}
    {% if lecturer %}
    <form action="" method="post">
        {% csrf_token %}
        <!-- Info Alert -->
        <div class="alert alert-info alert-dismissible fade show">
            Are you sure you want to Delete <strong>{{lecturer}} ?</strong>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <input class="btn btn-info " type="submit" value="Delete">
    
            <a class="btn btn-outline-danger " href="{% url 'lecturerPage' %}"> cancel</a>
        </div>
    </form>
    {% endif %}
    

{% endblock %}