{% extends 'computation/main.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <style>
        #progress{
            height:10px;
            width:500px;
            border: 1px solid gold;
            position: relative;
            border-radius: 5px;
        }
        #progress .progress-item{
            height:100%;
            position: absolute;
            left:0;
            top:0;
            background: chartreuse;
            border-radius: 5px;
            transition: width .3s linear;
        }
    </style>
</head>
<body>
 <P style = "color: blue;"> upload files: <br> </ p>
    <form action="" method="post">
                <input type="file" name="file" id="file_upload"><br>
                <Input type = "button" value = "upload" onclick = "FileUpload ()">
            </form>
                                 <P style = "color: blue;"> file upload progress: <br> </ p>
                <div id="progress">
                    <div class="progress-item"></div>
                </div>
                                 <P style = "color: blue;"> File Upload Status: <br> </ p>
                <span id="callback" style="color: red;"></span>
</body>
<script>
    function FileUpload() {
            var form_data = new FormData();
            var file_info =$( '#file_upload')[0].files[0];
            form_data.append('file',file_info);
                         // if (file_info == undefined) for the time being allowed to determine whether there is attachment
                                 // alert ( 'You did not choose any file');
                //return false
            $.ajax({
                url:'/upload_ajax/',
                type:'POST',
                data: form_data,
                processData: false,  // tell jquery not to process the data
                contentType: false, // tell jquery not to set contentType
                success: function(callback) {
 
                    console.log('ok')
                }
            });
 
            }</script>

</html>
