{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PASSWORD REQUIRED!</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
    <h3>Hello {{name}}!,</h3>
    <p>We're sending this maill to because you just create an Account with us with {{name}}. <br>
        The password that you will use to login is <strong>{{password}}</strong></p>

    <a class="btn btn-secondary" href="{% url 'login' %}">LOGIN</a>
   
    <p>Click the above button to Sign-in to the system</p>
   

    <p><strong>Note!</strong> this is just a suggested Password as you can change it to whatever you like once you've login </p>

    <h5>Thanks for using how site!</h4>
    <h6>the {{name}} team </h5>
</div>
    
</body>
</html>

