{% extends 'computation/main.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Programme Upadate</h4>
        </div>
    </div>
</div>
<div class="card card-body">
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row spaceup">
        <div class="col-md-6 col-sm-12 space">
            {{form.name.label_tag}}
            {{form.name}}
        </div>
        
    </div>
    
    <input class="btn btn-primary " type="submit" value="submit">
    <a class="btn btn-outline-danger " href="{% url 'staff' %}"> cancel</a>
</form>
</div>

<style>
    .space{
        margin-bottom: 50px;
    }
    .spaceup{
        margin-top: 20px;
    }
</style>
{% endblock %}