{% extends 'computation/main.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group float-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                </ol>
            </div>
            <h4 class="page-title">Programmes</h4>
        </div>
    </div>
</div>
{% for message in messages %}
<!-- Success Alert -->
<div class="alert alert-success alert-dismissible fade show">
    <strong>Success!</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-4">
        <div class="card border-warning mx-sm-1 p-3 d-flex align-items-stretch">
            <div class="card border-warning shadow text-warning p-3 my-card" > <a class="btn btn-outline-warning btn-block btn-sm " href="{% url 'createProgramme' %}">Create</a></div>
            <div class="text-warning text-center mt-3"><h5><i class="fab fa-accusoft"></i>Create new Programme.</h5></div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-success mx-sm-1 p-3 d-flex align-items-stretch">
            <div class="card border-success shadow text-success p-3 my-card" ><span aria-hidden="true"></span>Total number to Programmes available</div>
            <div class="text-success text-center mt-2"><h1>{{programmeCount}}</h1></div>
        </div>
    </div>

  
</div>

<br>


</div>
<!-- end row -->
<div class="row">
    <div class="col">
       
        <div class="card card-body">
            <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>NAME</th>
                    <th>Update</th>
                    <th>delete</th>
                </tr>
                {% for programme in programme %}
                <tr>
                    <td>{{programme.name}}</td>
                    
                    <td><a class="btn btn-sm" style="background-color: #030303; color: #ffffff;" href="{% url 'updateProgramme' programme.id %}">update</a></td>
                    <td><a class="btn btn-danger btn-sm" href="{% url 'deleteProgramme' programme.id %}" >Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        </div>
    </div>
</div>




{% endblock %}