
{% extends 'computation/main.html' %}
{% load static %}
{% block content %}

{% for message in messages %}
<!-- Success Alert -->
<div class="alert alert-success alert-dismissible fade show">
    <strong>Success!</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endfor %}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group float-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                </ol>
            </div>
            <h4 class="page-title">Staffs</h4>
        </div>
    </div>
</div>
<div class="row">
  

    <div class="col-lg-4">
        <div class="card border-warning mx-sm-1 p-3 d-flex align-items-stretch">
            <div class="card border-warning shadow text-warning p-3 my-card" > <a class="btn btn-outline-warning btn-block btn-sm " href="{% url 'createStaff' %}">Create</a></div>
            <div class="text-warning text-center mt-3"><h5><i class="fab fa-accusoft"></i>Create new Staff.</h5></div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-success mx-sm-1 p-3 d-flex align-items-stretch">
            <div class="card border-success shadow text-success p-3 my-card" ><span aria-hidden="true"></span>Total number to Staffs available</div>
            <div class="text-success text-center mt-2"><h1>{{staffMembersCount}}</h1></div>
        </div>
    </div>

  
</div>

<br>

<!-- end row -->

<div class="row">
    <div class="col">
       
        <div class="card card-body">
            <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>NAME</th>
                    <th>STAFF ID</th>
                    <th>DEPARTMENT</th>
                    <th>PHONE</th>
                    <th>EMAIL</th>
                    <th>Update</th>
                    <th>delete</th>
                </tr>
                {% for staffMember in staffMembers %}
                <tr>
                    <td>{{staffMember.name}}</td>
                    <td>{{staffMember.staff_No}}</td>
                    <td>{{staffMember.department}}</td>
                    <td>{{staffMember.phone}}</td>
                    <td>{{staffMember.email}}</td>
                    <td><a class="btn btn-sm" style="background-color: #030303; color: #ffffff;" href="{% url 'updateStaff' staffMember.id %}">update</a></td>
                    <td><a class="btn btn-danger btn-sm" href="{% url 'deleteStaff' staffMember.id %}" >Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        </div>
    </div>
</div>






{% endblock %}