{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script> -->



</head>
<body>
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <div id="income">
        <h5>INCOME</h5>
        <div id="incometoggle">
            <h6>Income Total</h6>
        </div>
    </div>
    
    <div id="income2">
        <h5>INCOME2</h5>
        <div id="incometoggle2" style="display:none;">
            <h6>Income Total2</h6>
        </div>
    </div>
    
    <div id="income3">
        <h5>INCOME3</h5>
        <div id="incometoggle3" style="display:none;">
            <h6>Income Total3</h6>
        </div>
    </div>

     <script>
        $(function () {
                $('h5').click(function () {
                    var incomeDiv = $(this).next('div');
                    $(incomeDiv).toggle(); $('div[id^=incometoggle]').not(incomeDiv).hide();
                });
            });
    </script>

</body>
</html>