{% extends 'computation/main.html' %}
{% load static %}
{% block content %}
<style>
    .space{
        margin-bottom: 50px;
    }
    .spaceup{
        margin-top: 20px;
    }
    .hidden {
        display: none !important;
    }
</style>
    <div class="" id='form-1'>
    <form action="" method="POST" id="myForm">
        {% csrf_token %}
        <input type="text" placeholder="name">
        <input type="text" placeholder="school">
                
        <!-- <input class="btn btn-primary" id="btn-1" type="submit" value="submit"> -->
        <button type="submit" id="send"> submit</button>
    </form>
    </div>
    <div class="hidden" id="details">
        <p>i really want this to work </p>
    </div>
    <button id="details-btn" type="submit">Open</button>
    
    <div class="" id='form-2' >
        <form action="" method="POST" onsubmit="myFunction()">
            {% csrf_token %}
            <input type="text" placeholder="name">
            <input type="text" placeholder="school">
    
            <!-- <input class="btn btn-primary " id="btn-2" type="submit" value="submit"> -->
            <button id="btn-2" type="submit">submitIt</button>
        </form>
    </div>

    <h1>zing</h1>
    <div id="myChart"></div>
    
    <script>
        $(document).ready(function ($) {
                $('#myForm').on('submit', function (evt) {
                    $('#myForm').hide();
                });
            });
        function myFunction() {
                $('#formid').hide();
            }
        document.getElementById('btn-1').onclick = function () {
                console.log('the button is clicked')
                document.getElementById('form-1').classList.add('hidden')
                document.getElementById('form-2').classList.remove('hidden')
            };
            document.getElementById('btn-2').onclick = function () {
                console.log('the button is clicked')
                document.getElementById('form-1').classList.add('hidden')
                document.getElementById('details').classList.remove('hidden')
            }
            document.getElementById('details-btn').onclick = function(){
                document.getElementById('details').classList.remove('hidden')
            }
//         let myConfig = {
//             type: 'bar',
//             title: {
//                 text: 'Data Basics',
//                 fontSize: 24,
//             },
//             legend: {
//                 draggable: true,
//             },
//             scaleX: {
//                 // Set scale label
//                 label: { text: 'Days' },
//                 // Convert text on scale indices
//                 labels: [ 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun' ]
//             },
//             scaleY: {
//                 // Scale label with unicode character
//                 label: { text: 'Temperature (°F)' }
//             },
//             plot: {
//                 // Animation docs here:
//                 // https://www.zingchart.com/docs/tutorials/styling/animation#effect
//                 animation: {
//                     effect: 'ANIMATION_EXPAND_BOTTOM',
//                     method: 'ANIMATION_STRONG_EASE_OUT',
//                     sequence: 'ANIMATION_BY_NODE',
//                     speed: 275,
//                 }
//             },
//             series: [
//                 {
//                     // Plot 1 values, linear data
//                     values: [23,20,27,29,25,17,15],
//                     text: 'Week 1',
//                 },
//                 {
//                     // Plot 2 values, linear data
//                     values: [35,42,33,49,35,47,35],
//                     text: 'Week 2'
//                 },
//                 {
//                     // Plot 2 values, linear data
//                     values: [15,22,13,33,44,27,31],
//                     text: 'Week 3'
//                 }
//             ]
// };
var state={
    'dapartment':[],
    'fte':[],
}
    var dataurl = '/data/'
    $.ajax({
        method:'GET',
        url: dataurl,
        success: function(response){
            console.log(response)
            for (var i in response){
                var dept = Object.keys(response[i])[0]
                var fte = Object.values(response[i])[0]

                state.dapartment.push(dept)
                state.fte.push(fte)
            }
            console.log('STATE: ',state)
            buildChart()
        }
    })
function buildChart(){
    let myConfig ={
    "type":"bar",
    "scaleX":{
        labels:state.dapartment
    },
    "series":[
        {
            values:state.fte,
            text: "names"
        },
    ]
}

    // Render Method[3]
    zingchart.render({
    id: 'myChart',
    data: myConfig,
    });

}

    
    </script>
{% endblock %}